ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", RUN+="/bin/sdcard_added.sh"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", RUN+="/bin/sdcard_removed.sh"

